<% @standings["standings"][0]["table"].each do |element| %>
  <div>
    <%= element["position"] %>
    <%= image_tag element["team"]["crestUrl"], width: 30 %>
    <%= link_to element["team"]["name"], index_path %>
    <%= element["points"] %>
    <%= element["playedGames"] %>
    <%= element["won"] %>
    <%= element["draw"] %>
    <%= element["lost"] %>
    <%= element["goalsFor"] %>
    <%= element["goalsAgainst"] %>
    <%= element["goalsDifference"] %>
  </div>
<% end %>
