<div class="text-center mt-4"><img src="https://www.lfp.fr/images/photos/articles/web/fiche/1819-logos-l1c-ligue-talents-autres.jpg?org=tinymce" width=200 alt="Ligue 1 Conforama.svg"></a></div>
<div class="table-responsive mt-4">
  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Domicile</th>
        <th scope="col">Score</th>
        <th scope="col">Exterieur</th>
      </tr>
    </thead>
    <tbody>
    <% @matches.each do |element| %>
      <tr>
        <th scope="row"><%= element["utcDate"].to_date.strftime("%a. %d.%m.%y") %></th>
        <td>
          <% if @teams.each { |i| i["id"] } == @matches.each { |element| element["homeTeam"]["id"] } %>
            <%= image_tag @teams[0]["crestUrl"], width: 30 %>
          <% else %>
            <%= image_tag @teams[1]["crestUrl"], width: 30 %>
          <% end %>
          <% if element["homeTeam"]["id"] == params["query"].to_i %>
            <strong><%= element["homeTeam"]["name"] %><strong>
          <% else %>
            <%= element["homeTeam"]["name"] %>
          <% end  %>
        </td>
        <td><%= element["score"]["fullTime"]["homeTeam"] %> - <%= element["score"]["fullTime"]["awayTeam"] %></td>
        <td>
          <% if @teams.each { |i| i["id"] } == @matches.each { |element| element["homeTeam"]["id"] } %>
            <%= image_tag @teams[0]["crestUrl"], width: 30 %>
          <% else %>
            <%= image_tag @teams[1]["crestUrl"], width: 30 %>
          <% end %>
          <% if element["awayTeam"]["id"] == params["query"].to_i %>
            <strong><%= element["awayTeam"]["name"] %></strong>
          <% else %>
            <%= element["awayTeam"]["name"] %>
          <% end  %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


