<div> <%= @matches["matches"][0]["utcDate"] %> </div>
<%= @matches["matches"][0]["homeTeam"]["name"] %>
<%= @matches["matches"][0]["score"]["fullTime"]["homeTeam"] %>
<%= @matches["matches"][0]["score"]["fullTime"]["awayTeam"] %>
<%= @matches["matches"][0]["awayTeam"]["name"] %>



